*{
    margin:0;
    padding: 0;
}
.col{
    max-width: 100%;
}
.carimg{
    background-color: #333;
    height: 500px;
    width: 930px;
    margin: auto;
    margin-top:50px;
    overflow: hidden;
    display: flex;
    position: relative;
  
}
.slides{
    display: flex;
}

.imgsize{
    height: 500px;
    width: 930px;
}
.icon{
    color: white;
    /* left: 1000px; */
    
    font-size: 50px;
}
.arrow{
    position: absolute;
    top: 200px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0 20%;
}
 /* .img1{
    
    animation: 3s rightside;
    
}*/
/*@keyframes rightside{
     0%{margin-left: 0%}
        50%{margin-left: -100%}
        100%{margin-left: -200%}
        100%{margin-left: -300%} 
        0%   {margin-left: 0%;}
        10%  {margin-left: -30%;}
        20%   {margin-left: -60%;}
        30%  {margin-left: -90%;}
        40%   {margin-left: -100%;}
        50%  {margin-left: -150%;}
        60%   {margin-left: -180%;}
        70%  {margin-left: -200%;}
        80%  {margin-left: -240%;}
        90%   {margin-left: -270%;}
        100%  {margin-left: -300%;}
      
}
 */

 @media screen and (max-width: 970px) {
    .col {
      width:80%;
    }
    .imgsize{
        width:500px;
        height: 200px;
    }
    .carimg{
        width:500px;
        height: 200px;
    }

  }
  @media screen and (max-width: 580px) {
    .col {
      width:60%;
    }
    .imgsize{
        width:200px;
        height: 100px;
    }
    .carimg{
        width:200px;
        height: 100px;
    }

  }
  @media screen and (max-width: 1175px) {
    .arrow {
      padding: 6% 18%;
    }

  }
  @media screen and (max-width: 1500px) {
    .arrow {
      padding: 6% 18%;
    }

  }
  
  @media screen and (max-width: 969px) {
    .arrow {
        top:118px;
      padding: 0% 26%;
    }

  }
  @media screen and (max-width: 580px) {
    .arrow {
        top:73px;
      padding: 0% 33%;
    }
    .icon{
        color: white;
        /* left: 1000px; */
        
        font-size: 25px;
    }

  }