*{
    margin:0;
    padding: 0;
}
.carimg{
    background-color: #333;
    height: 500px;
    width: 1000px;
    margin: auto;
    margin-top:50px;
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 65px;
}
.slides{
    display: flex;
}

.imgsize{
    height: 500px;
    width: 1000px;
}
.icon{
    color: white;
    /* left: 1000px; */
    
    font-size: 50px;
}
.arrow{
    margin-left: 0% !important;
    /* left: 65px; */
    width: 1000px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 250px;
    z-index: 1;
    padding-left: 6%;
    padding-right: 3%;
    
}
 /* .img1{
    
    animation: 3s rightside;
    
}*/
/*@keyframes rightside{
     0%{margin-left: 0%}
        50%{margin-left: -100%}
        100%{margin-left: -200%}
        100%{margin-left: -300%} 
        0%   {margin-left: 0%;}
        10%  {margin-left: -30%;}
        20%   {margin-left: -60%;}
        30%  {margin-left: -90%;}
        40%   {margin-left: -100%;}
        50%  {margin-left: -150%;}
        60%   {margin-left: -180%;}
        70%  {margin-left: -200%;}
        80%  {margin-left: -240%;}
        90%   {margin-left: -270%;}
        100%  {margin-left: -300%;}
      
}
 */

